# Build outputs
*.o
*.a
*.so
*.out
*.elf
*.bin
*.hex
*.map
*.d

# Executables 
out.*

# Editor & IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store


# Others
*.log
ServerNet/compile_commands.json
ServerNet/.cache/